body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 100vh;
}

a {
    list-style-type: none;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
}

.upper-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#header-logo{
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.link-exclusive{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.lower-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.left-side{
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 8px;
}

#big-text{
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

#sub-text{
    color:#e5e7eb;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 8px;
}

.right-side{
    display: flex;
    justify-content: flex-end;
}

.picture-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    width: 450px;
}


/*.after-header{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    gap: 50px;

}
.left-after-header{
    display: flex;
    flex-direction: column;
    width: 450px;
}
*/



.footer{
    display: flex;
}